.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.new-chat-button,
.history-button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: maroon;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid maroon;
  border-radius: 4px;
  cursor: pointer;
}

.new-chat-button:hover,
.history-button:hover {
  background-color: maroon;
  color: white;
}

.chat, .chat-history {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.message, .history-message {
  margin-bottom: 10px;
}

.user {
  font-weight: bold;
}

.bot {
  margin-left: 10px;
}

.chat-input {
  display: flex;
}

.chat-input input {
  flex-grow: 1;
  padding: 15px;
  font-size: 1.1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat-input button {
  padding: 15px;
  margin-left: 10px;
  border: none;
  background-color: maroon;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: darkred;
}

.chat-input button::after {
  content: '➤';
  font-size: 1.2em;
}
